---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<p>You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>
{% endif %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign has_posts = false %}
    {% for post in site.publications reversed %}
      {% if post.category == category[0] %}
        {% assign has_posts = true %}
      {% endif %}
    {% endfor %}

    {% if has_posts %}
      <h2>{{ category[1].title }}</h2>
      <ol>
        {% for post in site.publications reversed %}
          {% if post.category != category[0] %}
            {% continue %}
          {% endif %}
          <li style="margin-bottom: 0.8em;">
            {% if post.authors %}{{ post.authors }}. {% endif %}
            {% if post.date %}({{ post.date | date: "%Y" }}). {% endif %}
            {% if post.paperurl %}
              <a href="{{ post.paperurl }}">{{ post.title }}</a>.
            {% else %}
              {{ post.title }}.
            {% endif %}
            {% if post.venue %}<em>{{ post.venue }}</em>.{% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
{% else %}
  <ol>
    {% for post in site.publications reversed %}
      <li style="margin-bottom: 0.8em;">
        {% if post.authors %}{{ post.authors }}. {% endif %}
        {% if post.date %}({{ post.date | date: "%Y" }}). {% endif %}
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">{{ post.title }}</a>.
        {% else %}
          {{ post.title }}.
        {% endif %}
        {% if post.venue %}<em>{{ post.venue }}</em>.{% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}